**/input.txt
!src/template-olinfo/input.txt
!src/template-reply/input.txt
!src/template-uva/input.txt
**/output.txt
!src/template-olinfo/output.txt
!src/template-reply/output.txt
!src/template-uva/output.txt

*.out
*.exe
**/grader.cpp

**/.vscode/
!src/template-olinfo/.vscode/
!src/template-reply/.vscode/
!src/template-uva/.vscode/

**/PDF/
